^"*"^ 							= magenta
{!A-Za-z}^mov{s}{z}{x}{d}^{!A-Za-z}			= green
{!A-Za-z}^set{n}{l}{e}{z}^{A-Za-z} 			= green
{!A-Za-z}^leave^{!A-Za-z} 				= yellow
{!A-Za-z}^imul^{!A-Za-z} 				= green
{!A-Za-z}^ret^{!A-Za-z} 				= yellow
{!A-Za-z}^push^{!A-Za-z} 				= green
{!A-Za-z}^pop^{!A-Za-z} 				= yellow
{!A-Za-z}^add^{!A-Za-z} 				= green
{!A-Za-z}^sar^{!A-Za-z} 				= green
{!A-Za-z}^shl^{!A-Za-z} 				= green
{!A-Za-z}^cbw^{!A-Za-z} 				= green
{!A-Za-z}^test^{!A-Za-z} 				= green
{!A-Za-z}^repz^{!A-Za-z} 				= green
{!A-Za-z}^add^{!A-Za-z} 				= green
{!A-Za-z}^sub^{!A-Za-z} 				= yellow
{!A-Za-z}^lea^{!A-Za-z} 				= yellow
{!A-Za-z}^call^{!A-Za-z} 				= yellow
{!A-Za-z}^cmp^{!A-Za-z} 				= yellow
{!A-Za-z}^and^{!A-Za-z} 				= yellow
{!A-Za-z}^xor^{!A-Za-z} 				= yellow
{!A-Za-z}^or^{!A-Za-z} 	 				= yellow
{!A-Za-z}^hlt^{!A-Za-z} 				= yellow
{!A-Za-z}^nop^{!A-Za-z} 				= yellow
{!A-Za-z}^jmp^{!A-Za-z} 				= yellow
{!A-Za-z}^jle^{!A-Za-z} 				= yellow
{!A-Za-z}^jl^{!A-Za-z} 				= yellow
{!A-Za-z}^je^{!A-Za-z} 					= yellow
{!A-Za-z}^jge^{!A-Za-z} 				= yellow
{!A-Za-z}^jg^{!A-Za-z} 					= yellow
{!A-Za-z}^jz^{!A-Za-z} 					= yellow
{!A-Za-z}^jnz^{!A-Za-z} 				= yellow
{!A-Za-z}^jb^{!A-Za-z} 				= yellow
{!A-Za-z}^jnb^{!A-Za-z} 				= yellow
{!A-Za-z}^{qd}word^{!A-Za-z} 				= magenta
{!A-Za-z}^byte^{!A-Za-z} 				= magenta
{!A-Za-z}^[re]ax^{!A-Za-z} 				= red
{!A-Za-z}^{re}bp^{!A-Za-z} 				= red
{!A-Za-z}^{re}sp^{!A-Za-z} 				= red
{!A-Za-z}^[re]bx^{!A-Za-z} 				= red
{!A-Za-z}^[re]dx^{!A-Za-z} 				= red
{!A-Za-z}^[re]cx^{!A-Za-z} 				= red
{!A-Za-z}^[re]si^{!A-Za-z} 				= red
{!A-Za-z}^[re]di^{!A-Za-z} 				= red
{!A-Za-z}^[re]ip^{!A-Za-z} 				= red
{!A-Za-z}^[acd]l^{!A-Za-z} 				= red
{!A-Za-z}^[acd]x^{!A-Za-z} 				= red
{!A-Za-z}^[ca]h^{!A-Za-z} 	 				= red
{!A-Za-z}^[bd]h^{!A-Za-z} 				= red
{!A-Za-z}^[sd]i^{!A-Za-z} 				= red
{!A-Za-z}^d[lx]^{!A-Za-z} 				= red
{!A-Za-z}^local_{0-9a-f}$h^{!A-Za-z}			= green
{!A-Za-z}^r{1}{0-9}{dwb}^{!A-Za-z} 			= red
^[A-Za-z]$(*)^	 				= green
^//*\r\n^ 					= red
^#*\r\n^ 					= blue
^0x{0-9a-f}$^ 					= cyan
^func.[A-Za-z0-9_]$^ 				= green
^sym.[A-Za-z0-0_]$^ 				= green
symbol: ^[A-z]$^ 				= green
function: sym.^[A-z0-9.]$^ 			= green
section: ^[.A-z]$^ 				= green
^address:^{ \t}${0}{x}[0-9a-f]$ 		= blue
^{0-9a-f}$^ 					= blue
